body{
    background-color: #181a1b;;
   
    background-repeat: no-repeat;
}   

header{
    display: flex;
    justify-content: right;
     }

     header div{
        margin-left:10px ;
     }

     a{
        padding: 8px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: white;
        
     }

     a:hover{
        text-decoration:underline
       
     }

#main {
 
 display: block;
 text-align: center;
}

.logo{
    padding: 13px;
    width: 550px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 1em 1em 1em 0  black;

}
.logo:hover{
    opacity: 0.8;

}

.bottom{
    cursor: pointer;
     margin-top: 25px;
     border-radius: 60px;
     padding:8px;
     padding-left: 20px;
     padding-right: 20px;
     border: none;
    color: rgb(65, 65, 65);
    
    
    transition: 0.5s;
    
}

.bottom:hover{
    box-shadow: 0 0 1em   black;
}

.ss{
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}

.botons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}





